<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://images.squarespace-cdn.com/content/v1/6151fc1de9760e17a20b7128/fe78d701-101b-4da8-ae9f-62c854214941/3S_140220_LOGO_-39.png" type="image/png">
    <title>Store</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- CSS Files - Sử dụng Thymeleaf syntax -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- External CDN Scripts (có thể để trong head) -->
    <script th:src="@{/js/chart.js}" type="text/javascript"></script>

</head>
