<div th:fragment="script" xmlns:th="http://www.thymeleaf.org">
  <!-- jQuery PHẢI LOAD TRƯỚC TẤT CẢ -->
  <script th:src="@{/js/jquery.min.js}"></script>

  <!-- jQuery UI -->
  <script th:src="@{/js/jquery-ui.js}"></script>

  <!-- Bootstrap JS -->
  <script th:src="@{/js/bootstrap.min.js}"></script>

  <!-- AdminLTE JS -->
  <script th:src="@{/js/adminlte.min.js}"></script>

  <!-- Custom JS files -->
  <script th:src="@{/js/dashboard.js}"></script>
  <script th:src="@{/js/function.js}"></script>
  <script th:src="@{/js/fragment.js}"></script>
  <script th:src="@{/js/admin_order_detail.js}"></script>
</div>
